.input-container {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #0ff4f8;
    }
    .input-titulo {
        font-size: 1.5rem;
        color: #2ce350;
        margin-bottom: 15px;
    }

    .campo-texto {
        font-size: 16px;
        padding: 10px;
        width: 80%;
        max-width: 300px;
        border: 2px solid #34495e;
        border-radius: 4px;


    }

    .campo-texto:focus {
        border-color: #3498db;
    }

    .resultado-texto{
        font-size: 18px;
        margin-top: 20px;
        color: #27ae60;
        font-weight: bold;
        word-wrap: break-word;  /*texto nã vai sair da caixinha, caso seja muito longo*/
    }